.item {
  border-bottom: 1px solid #ededed;
  min-height: 45px;
  list-style: none;
  padding: 0 16px 0 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
  
.completed a{
  text-decoration: line-through;
  color: #fff;
} 

/* checkbox style */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.checkboxes {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.checkboxes__row {
  display: flex;
}
.checkboxes__row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.checkboxes__item {
  padding: 0px;
  width: 100%;
}

.checkbox.style-d {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkbox.style-d input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark {
  background-color: #000000;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-d:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-d:hover input:checked ~ .checkbox__checkmark {
  background-color: #ffffff;
}
.checkbox.style-d .checkbox__checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
.checkbox.style-d .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #e7b91b;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-d .checkbox__body {
  color: #333;
  font-size: 16px;
  transition: color 0.25s ease;
}

/* tag a */
a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  color: #000000;
}

.delete {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}

.delete:hover {
  font-size: 22px;
  color: rgb(177, 14, 14);
}